@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f5f5;
}

/* Button Animation */

button:hover div > img {
  animation: rotateImg 500ms ease;
}

@keyframes rotateImg {
  0% {
    transform: rotate(0deg);
  }
  6.25% {
    transform: rotate(5deg);
  }
  12.5% {
    transform: rotate(10deg);
  }
  18.75% {
    transform: rotate(15deg);
  }
  25% {
    transform: rotate(20deg);
  }
  31.25% {
    transform: rotate(15deg);
  }
  37.5% {
    transform: rotate(10deg);
  }
  43.75% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  56.25% {
    transform: rotate(-5deg);
  }
  62.5% {
    transform: rotate(-10deg);
  }
  68.75% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  81.25% {
    transform: rotate(-15deg);
  }
  87.5% {
    transform: rotate(-10deg);
  }
  93.75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Mobile Navbar Icon */

.hamburger {
  width: 30px;
  height: 2px;
  background-color: black;
  border-radius: 5px;
  z-index: 10;
  transition: all 0.5s ease;
}
.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: black;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.hamburger::before {
  transform: translateY(-8px);
}
.hamburger::after {
  transform: translateY(8px);
}

.show-mobile-nav.hamburger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.show-mobile-nav.hamburger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.show-mobile-nav.hamburger {
  transform: translateX(-50px);
  background: transparent;
}
